<div class="panel panel-default">
  <div class="panel-heading">
    followers list
  </div>
    
  <div class="panel-body">
    <% @users.each do |user| %>
      <div class="row">
        <%= gravatar_for @user %>
        <%= user.name %>
      </div>
      <br>
    <% end %>
  </div>
</div>